.nav-tabs {
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.nav-tabs li a {
    color: #333;
    font-size: 2.3vw;
    padding: 15px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.nav-tabs li a:hover {
    background-color: #d5d2d221;
    text-decoration: none;
}

.nav-tabs li a.active {
    box-shadow: 3px 3px 3px -2px inset;
    background-color: #d5d2d221;
}

.walletCard {
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 330px;
    margin: auto;
}

.walletName {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

.walletCard img {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputcard {
    margin-bottom: 25px;
}

.cart_button {
    padding: 10px;
    border-radius: 20px;
}

.walletInfo {
    background-color: #ffd40059;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 3px;
}

.loginform {
    width: 380px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px;
}